node_modules/

frontend/dist/
backend/dist/

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
logs/
*.log

coverage/
*.tsbuildinfo

pids/
*.pid
*.seed

.vscode/
.DS_Store
Thumbs.db
*.swp
